tensorflow
numpy
regex
tqdm
Pillow==9.4.0
scipy
ftfy
fickling
requests
pyinstaller
onnxruntime
opencv-python
safetensors
cython
numexpr
pandas
scikit-image
tensorflow-macos
tensorflow-metal
Flask==3.1.0
